<h1> {{helloText | uppercase }} le : {{date|date:"shortDate"}}
</h1>


<button (click)="changeImage()">
    Show Image
</button>
<br>

<img [src]="mathCoursePic.imageUrl"
[style.width.px]="mathCoursePic.imageWidth" >

<br>

<input type="text" [(ngModel)]="writtenWord">
<h4> The word you wrote : {{ writtenWord | uppercase }} </h4>

<button (click)="toggleVisibility()" type="button">
    Show / Hide
</button>
<h2 *ngIf="isVisible"> I am visible</h2>

<div *ngFor="let item of imageUrls; index as i">
    <img [src]="imageUrls[i]" [title]="item" [style.width.px]="mathCoursePic.imageWidth">
</div>    