<table class="table container">
    <thead>
        <tr>
            <th></th>
            <th>Course</th>
            <th>Code</th>
            <th>Status</th>
            <th>Weight (over 20)</th>
            <th>5 Star Rating</th>
        </tr>
    </thead>
    <tbody>
        <div class="text-center" *ngIf="!course">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        <tr *ngIf="course">
            <td><img [src]="course.imageUrl" [title]="course.displayCourse()" [style.width.px]="50"></td>
            <td>{{course.courseName}}</td>
            <td>{{course.courseCode}}</td>
            <td>{{course.releaseDate|date:"shortDate"}}</td>
            <td>{{course.weight}}</td>
            <td>
                <app-shared-star-rating [rating]="course.starRating">
                </app-shared-star-rating>
            </td>
        </tr>
    </tbody>
</table>
